html,
body {
  font-family: 'Roboto Slab', sans-serif;
  min-width: 320px;
  color: #000000;
}
.main_menu {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #000000;
}
.navlower_wrap {
  background-color: #f5f5f5;
}
.logo {
  height: 75px;
}
.text-color_blue {
  color: #24b2d2;
}
.breadcrumbs-wrap {
  background-image: linear-gradient(#e6e4e4, #ffffff);
}
.breadcrumbs {
  padding: 8px 16px;
  list-style: none;
}
.breadcrumbs li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
}
.breadcrumbs li a {
  text-decoration: none;
}
.breadcrumbs li a:hover {
  color: #24b2d2;
}
.breadcrumbs-home {
  color: #9eb310;
  font-size: 20px;
}
.content-wrap {
  background-color: #9eb310;
}
.filter-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 80px;
}
.filter-wrap .btn {
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  width: 211px;
  padding-right: 10px;
  white-space: normal;
}
.filter-wrap .btn span {
  padding: 5px;
}
.filter-wrap .btn:nth-child(2n) {
  background-color: #fff;
}
.base-wrap {
  margin-left: 100px;
  margin-right: 280px;
  color: #fff;
}
.articles {
  margin-left: 50px;
  margin-right: 50px;
}
.articles p {
  text-indent: 30px;
}
.base-list {
  margin-bottom: 50px;
}
.base-list a {
  color: #fff;
}
.base-list a:hover {
  color: #fdc02c;
  text-decoration: none;
}
.articles-title {
  color: #9eb310;
  text-align: center;
}
.button-back_wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}
.article-button_back {
  background-color: #9eb310;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  width: 105px;
}
.article-button_back:hover {
  color: #fff;
  text-decoration: none;
}
.article-button_back > span {
  font-size: 23px;
}
.share {
  position: relative;
  left: 85%;
  width: 170px;
}
.share .icon-soc_popup-f,
.share .icon-soc_popup-t {
  margin: 7px;
  font-size: 24px;
  text-decoration: none;
  width: 24px;
}
.share .icon-soc_popup-f {
  background-color: #29488b;
  color: #fff;
  border-radius: 50%;
  padding-left: 4px;
}
.share .icon-soc_popup-t {
  color: #33abe0;
}
.column {
  display: none;
  /* Hide all elements by default */
}
.show {
  display: block;
}
footer {
  background-color: #2d2e2a;
}
.footer_row_wrap {
  margin-top: 85px;
  color: #f3f3f3;
}
.footer-logo {
  color: #24b2d2;
  font-weight: 700;
  margin-top: 30px;
}
.footer-title {
  font-weight: 700;
}
.icon {
  font-size: 29px;
  color: #494a45;
}
.footer-col_wrap a {
  color: #fff;
  text-decoration: none;
}
.footer-text_tel {
  margin-left: 5px;
}
.footer-text_tel1 {
  margin-left: 34px;
}
.footer-text_email {
  margin-left: 6px;
}
.footer-text_skype {
  margin-left: 10px;
}
.footer-text_adress {
  margin-left: 34px;
}
.footer-col_wrap .icon-soc_f,
.footer-col_wrap .icon-soc_t {
  font-size: 29px;
  color: #9eb310;
}
.icon-soc_f {
  margin-left: 34px;
}
.icon-soc_t {
  margin-left: 20px;
}
.form-group input,
.form-group textarea {
  padding: 0 12px;
  background-color: #333430;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.form-group input {
  width: 345px;
  height: 40px;
}
.form-group textarea {
  width: 465px;
  height: 150px;
}
.article-btn-mixin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  width: 215px;
  border: 0;
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  float: right;
  color: #fff;
}
.form-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  width: 215px;
  border: 0;
  padding-bottom: 11px;
  padding-top: 11px;
  padding-left: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  float: right;
  color: #fff;
  background-color: #9eb310;
}
.form-btn:active {
  box-shadow: none;
}
.form-btn > span {
  font-size: 23px;
  padding-bottom: 5px;
}
.dev {
  float: right;
  margin-bottom: 30px;
  margin-right: 180px;
  color: #fff;
}
